<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Животные</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Животные</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/people">Люди</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/people/team">Команды</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/people/sweet">Конфеты</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/people/fish">Рыбы</a>
        </li>
    </ul>
</nav>
<div th:each="animal : ${animal}" th:if="${animal.getName() != null || animal.getYears() != 0 || animal.getType() != null}">
    <a th:href="@{/people/animal/{id}(id=${animal.getId()})}">
        <p th:text="${'Имя:'+animal.getName() + ' ' + 'Возраст:'+animal.getYears() + ' ' + 'Тип:'+animal.getType}"></p></a></div>
<br/>
<hr/>
<a href="/people/animal/new">Добавить животное</a>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>