<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение конфеты</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Изменение <span th:text="${sweet.getName()}"/> </h1>
    <form th:method="POST" th:action="@{/people/sweet/{id}(id=${sweet.getId()})}" th:object="${sweet}">
        <div class="form-group">
            <label for="name">Введите название</label>
            <input type="text" th:field="*{name}" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="kolvo">Введите кол-во</label>
            <input type="text" th:field="*{kolvo}" class="form-control" id="kolvo">
        </div>
        <div class="form-group">
            <label for="type">Введите вид</label>
            <input type="text" th:field="*{type}" class="form-control" id="type">
        </div>
        <button type="submit" class="btn btn-primary">Изменить!</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>