<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая конфета</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Добавление конфеты</h1>
    <form th:method="POST" th:action="@{/people/sweet}" th:object="${sweet}">
        <div class="form-group">
            <label for="name">Введите наименование</label>
            <input type="text" th:field="*{name}" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="years">Введите кол-во</label>
            <input type="text" th:field="*{kolvo}" class="form-control" id="years">
        </div>

        <div class="form-group">
            <label for="type">Введите вид</label>
            <input type="text" th:field="*{type}" class="form-control" id="type">
        </div>
        <button type="submit" class="btn btn-primary">Добавить!</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>