<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${person.getName()}"></h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID: <span th:text="${person.getId()}"></span></h5>
            <p class="card-text">Имя: <span th:text="${person.getName()}"></span></p>
            <p class="card-text">Возраст: <span th:text="${person.getAge()}"></span></p>
            <p class="card-text">Емейл: <span th:text="${person.getEmail()}"></span></p>
            <a th:href="@{/people/{id}/edit(id=${person.getId()})}" class="btn btn-primary">Изменить</a>
            <form th:method="POST" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Удалить!" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>